.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    /* Establece el alto mínimo de la página para que el footer siempre esté al final */
}

.menubar-container {
    width: 100%;
}

.header-container {
    background-color: #393E46; /* Color de fondo del encabezado */
}

.header-content {
    display: flex;
    justify-content: space-between; /* Alinea los elementos hijos en los extremos opuestos del contenedor */
    align-items: center; /* Centra verticalmente los elementos hijos en el contenedor */
    max-width: 1200px; /* Limita el ancho máximo del contenido del encabezado */
    margin: 0 auto; /* Centra el contenido del encabezado en la página */
}

.logout-button-container {
    margin-right: 5px; 
}


.p-menubar {
    display: flex;
    justify-content: center;
    background-color: #393E46;
    border: none;
}

.p-menubar ul,
.p-menubar li{
    padding: 0;
    margin: 0;
}

.p-menubar.p-menubar-mobile-active ul,
.p-menubar.p-menubar-mobile-active li {
    background-color: #393E46;
}

.p-menubar span{
    color: #EEEEEE;
}

.p-menuitem-content:hover{
    color: #222831;
    background-color: #222831;
}

.p-menu {
    display: flex;
}

.p-menuitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p-menuitem-text {
    margin-top: 5px;
}

main {
    display: flex; /* Muestra los elementos como un contenedor flex */
    flex-grow: 1; /* Permite que el área principal se expanda para llenar el espacio restante */
    margin: 0;
    background-color: #222831;
}

.boxInicio{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.titleInicio{
    font-size: 2.5rem;
    color: #ff9900a5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px #a2a6ad;
}

.non-content{
    margin-top:100px;
    display: flex;
    align-items: center; 
    justify-content: center
}

.content-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: #393E46;
    color: #EEEEEE;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}

h1, h2{
    color: #EEEEEE;
}